<div class="projects-wrapper appear">
    <h3>Portfolio</h3>

    <div class="featured-projects-wrapper">
        <h2>Featured Projects</h2>
        <span>
            Explore a selection of my work here - Interact with <br>
            projects to see ma skills in action
        </span>

        <div class="projects-container">

            <div class="project-join">
                <div class="project-name">
                    <h4>Join</h4>
                    <img class="arrow-outward" src="assets/img/arrow_outward.png" alt="">
                </div>

                <div class="technologies">
                    <span>Angular</span>
                    <span>TypeScript</span>
                    <span>HTML</span>
                    <span>CSS</span>
                    <span>Firebase</span>
                </div>

                <img class="join-image" src="assets/img/join-hover-image.png" alt="">
            </div>

            <div class="project-epl">
                <div class="project-name">
                    <h4>El Pollo Loco</h4>
                    <img class="arrow-outward" src="assets/img/arrow_outward.png" alt="">
                </div>

                <div class="technologies">
                    <span>HMTL</span>
                    <span>CSS</span>
                    <span>Javascript</span>
                </div>
                <img style="top: -35%;" class="join-image" src="assets/img/epl-hover-image.png" alt="">
            </div>

            <div class="project-da-bubble">
                <div class="project-name">
                    <h4>DA Bubble</h4>
                    <img class="arrow-outward" src="assets/img/arrow_outward.png" alt="">
                </div>

                <div class="technologies">
                    <span>Angular</span>
                    <span>Firebase</span>
                    <span>TypeScript</span>
                </div>
                <img style="top: -70%;" class="join-image" src="assets/img/da-bubble-hover-image.png" alt="">

            </div>
        </div>
    </div>
</div>