<div class="projects-wrapper appear">
    <h3>Portfolio</h3>

    <div class="featured-projects-wrapper">
        <h2>Featured Projects</h2>
        <span>
            Explore a selection of my work here - Interact with <br>
            projects to see ma skills in action
        </span>

        <div class="projects-container">

            @for (project of projects; track $index) {
            <div  (click)="openProjectOverlay($index)" class="project-container">
                <div class="project-name">
                    <h4>{{ project.name.replace('-', ' ') }}</h4>
                    <img class="arrow-outward" src="assets/img/arrow_outward.png" alt="">
                </div>

                <div class="technologies">
                    @for (technologie of project.technologies; track $index) {
                    <span>{{ technologie }}</span>
                    }
                </div>
                <img class="project-image"  [ngStyle]="{ top: (($index + 1) * -18) + 'px' }" [src]="'assets/img/' + project.name + '-hover-image.png'" alt="">
            </div>
        }
    </div>
</div>
</div>

<app-project-overlay *ngIf="selectedProjectIndex !== null" [projectIndex]="selectedProjectIndex" (close)="closeProjectOverlay()"></app-project-overlay>

