@import '../../../styles.scss';

.max-width {
    @include dflex($jc: space-between);
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.my-image {
    position: relative;
    align-self: flex-start;
    width: auto;
    max-width: 50%;

    >.profile-picture {
        filter: grayscale(100);
        border-radius: 50px;
        height: 40vh;
        width: 100%;
        object-fit: cover;
        transition: all 125ms ease-in-out;

        &:hover {
            transform: translate(30px, -30px);
        }
    }
}

.green-stripes {
    position: absolute;
    height: 99%;
    width: 100%;
    border-radius: 50px;

    &:hover .profile-picture {
        transform: translate(30px, -30px);
    }
}

.aboute-me-wrapper {
    @include dflex($ai: start, $g: 20px);
    flex-direction: column;
    align-self: flex-end;
    color: white;
    font-size: 18px;
    height: auto;
    width: auto;
    max-width: 50%;

    >h3 {
        font-family: Karla;
        color: #3DCFB6;
        font-size: 24px;
    }

    >div {
        background-color: #3DCFB61A;
        border: 1px solid #3DCFB6;
        border-radius: 30px;
        padding: 32px;
        @include dflex($ai: start, $g: 40px);
        flex-direction: column;

        >h2 {
            font-family: Fira Code;
            color: #3DCFB6;
            font-size: 64px;
            letter-spacing: -3%;
            font-weight: 700;
        }
    }
}

.aboute-me-info-text {
    @include dflex($ai: start, $g: 32px);
    flex-direction: column;

    >div {
        @include dflex($ai: start, $g: 24px);

        >img {
            transform: translateX(-50%);
        }
    }
}

.aboute-me-text {
    font-family: Karla;
}

.short-info-text {
    font-family: Karla;
    color: rgba(255, 255, 255, 0.8);
    transition: all 125ms ease-in-out;

    &:hover {
        color: white;
    }
}

