<div class="max-width">

    <div class="my-image appear">
        <img class="green-stripes" src="assets/img/green-stripes.png" alt="">
        <img class="profile-picture" src="assets/img/Foto.jpg" alt="">
    </div>

    <div class="aboute-me-wrapper appear">
        <h3>Who I Am</h3>
        <div class="aboute-me-info-container">
            <h2>Aboute me</h2>

            <div class="aboute-me-info-text">

                <span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit hic architecto quam aliquam iusto.
                    Vel
                    distinctio et debitis voluptate esse voluptas quas repellat iusto. Natus maxime voluptate
                    repellendus
                    sed
                    quo!
                </span>

                <div class="location-info">
                    <img src="assets/img/new_releases.png" alt="">
                    <span>fsdjkfhslkgfdlfkgj</span>
                </div>

                <div class="improve-skills-info">
                    <img src="assets/img/location_on.png" alt="">
                    <span>fldösgldkfghösdlfghsld</span>
                </div>

                <div class="what-i-learned">
                    <img src="assets/img/cognition.png" alt="">
                    <span>öfdsgsjkdfhgöjshdfjkghsöldjkfghkldjfshg lkjhlkj hlkjh lkjh kjhk jhk jhjk h</span>
                </div>
            </div>
        </div>
    </div>
</div>