<div class="footer-wrapper">

    <div class="footer-left-wrapper">
        <div class="logo-container">
            <a class="home-link" href="#header">
                <div class="initials">
                    <span class="first-initial">V</span>
                    <span class="second-initial">V</span>
                </div>
                <span class="full-name">Viktor <br> Vaal</span>
            </a>
        </div>

        <div class="left-text-container">

            <span>Web Developer</span>
            
            <span>Wörth am Main Germany</span>
        </div>
    </div>

    <div class="footer-middle-wrapper">
        <span>© Viktor Vaal 2025</span>
    </div>

    <div class="footer-right-wrapper">
        <a href="">Github</a>
        <a href="">LinkedIn</a>
        <a href="">Email</a>
        <a href="">Legal Notice</a>
    </div>
</div>